@keyframes rainbow {
  0% {
    background-color: red;
    
  }
  20%{
    background-attachment: orange;
    
  }
  40% {
    background-color: yellow;
    
  }
  60%{
    background-attachment: green;
    
  }
  80% {
    background-color: blue;
  
  }
  100%{
    background-attachment: purple;
  }
}

@keyframes rainbow-reverse {
  0% {
    background-color: purple;
    
  }
  20%{
    background-attachment: blue;
    
  }
  40% {
    background-color: green;
    
  }
  60%{
    background-attachment: yellow;
    
  }
  80% {
    background-color: orange;
  
  }
  100%{
    background-attachment: red;
  }
}