@use "_keyframes.scss";
@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Silkscreen:wght@400;700&display=swap');

$primary-color: #333;
$secondary-color: white;
$tertiary-color: black;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    
}

.light-mode {
  background-color: $primary-color;
  color: $secondary-color;
  height: 100vh;
}

.fun-mode {
  height: 100vh;
  animation: rainbow 3s linear infinite;
    .article__button {
      animation: rainbow-reverse 2s infinite;
      font-family:"Silkscreen";
    }
    .article__result {
      font-family: "Silkscreen";
      font-size: 3rem;
    }
}


.aside {
  margin: 45px;
  display: flex;
  justify-content: space-evenly;
  &__button {
    border: none;
    padding: 2px 7px;
    font-size: 0.8rem;
    &--light {
      background-color: $tertiary-color;
      color: $secondary-color
    }
    &--fun {
      animation: rainbow 3s infinite;
      font-family: "Silkscreen";
    }
  }
}

.article {
  background-color: $tertiary-color;
  height: 25rem;
  width: 15rem;
  margin: 45px;
  z-index: 2;
  padding: 25px;
  border-radius: 28px;
  &__result {
    background-color: $secondary-color;
    height: 3.5rem;
    width: 12rem;
    z-index: 1;
    border-radius: 10px;
    font-size: 1.5rem;
    text-align: end;
  }
  &__vessel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 35px;
    gap: 10px;
    background-color: $tertiary-color;
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    background-color: $tertiary-color;
    margin-top: 40px;
  }
  &__button {
    background-color: $secondary-color;
    border-radius: 4px;
    padding: 1px 3px;
    border: none;
    box-shadow: 2px 2px grey;
    &--decimal {
      font-size: large;
      font-weight: bolder;
    }
  }
}

@media screen and (min-width: 768px) {
  .aside {
    max-width: 28rem;
    margin: 60px;
    justify-content: space-between;
    &__button {
      padding: 7px 13px;
      font-size: 1.2rem;
    }
  }

  .article {
    width: 30rem;
    height: 35rem;
    padding: 35px;
    &__result {
      width: 25.5rem;
      height: 7rem;
    }
    &__vessel {
      gap: 30px;
    }
    &__container {
      gap: 30px;
    }
    &__button {
      padding: 3px 4px;
      font-size: 1.2rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .aside__button:hover {
    font-size: 1.5rem;
    transition: 0.5s;
    //  add some fun colors when you hover over the fun button
  }
  .article__button:hover {
    background-color: $tertiary-color;
    color: $secondary-color;
    transition: 0.3s;
  }
}


